header {
  padding: 1rem 0;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 3rem;
}

/* Sketch pad */
.grid-container {
    max-width: 960px;
    max-height: 960px;
    width: 525px;
    height: 525px;
    display: grid;
    border: 0.5px solid black;
}

.grid-square {
    background-color: white;
    border: 0.5px solid black;
}

.fill-square {
  background-color: black;
}

.no-grid-lines {
  border: none;
}

/* Sidebar */
.sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slider {
  appearance: none;
  width: 40%;
  height: 5px;
  background-color: #d3d3d3;
}

#grid-size {
  margin-top: 1rem;
}

/* Buttons */
.base-controls,
.extra-controls {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.button {
  cursor: pointer;
  width: 200px;
  padding: 0.5rem;
}

.active {
  background-color: black;
  color: white;
}