header {
  padding: 1rem 0;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 3rem;
}

/* Sketch pad */
.grid-container {
    max-width: 960px;
    max-height: 960px;
    width: 525px;
    height: 525px;
    display: grid;
}

.grid-square {
    background-color: white;
    border: 1px solid black;
}

.fill-square {
  background-color: black;
}

/* Sidebar */
.sidebar {
  width: 40%;
}

.slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slider {
  appearance: none;
  width: 40%;
  height: 5px;
  background-color: #d3d3d3;
}

#grid-size {
  margin-top: 1rem;
}