.grid-container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
}

.grid-square {
  /*  width: 58px;
    height: 58px; */
    background-color: white;
    border: 1px solid black;
}